/* Underwrite Me Custom CSS */

.fullpage-wrapper{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4f5c64+7,37424a+64 */
	background: #4f5c64; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #4f5c64 7%, #37424a 64%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  #4f5c64 7%,#37424a 64%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  #4f5c64 7%,#37424a 64%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f5c64', endColorstr='#37424a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}