h1, h2, h3, h4, h5, h6 {
	clear: both;
}


h1{
	font-family: 'Montserrat Ultra Light';
	font-size: 55px;
	color: #FFFFFF;
	margin: 0px;
}
h2{
	font-family: 'Montserrat Ultra Light';
	font-size: 45px;
	color: #fff;
	margin: 0px;
}
h3{
	font-family: 'Montserrat Ultra Light';
	font-size: 30px;
	color: #fff;
	margin: 0px;
}